body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ed6dc9ee;
  color: #000000; 
}
.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
} 

.card {
  max-width: 600px;
  margin: 40px auto;
  background: rgb(254, 254, 255);
  padding: 50px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.avatar-container {
  margin-bottom: 20px;
}

.avatar {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  object-fit: cover;
}

.descripcion {
  margin-bottom: 15px;
}

.contacto {
  margin-bottom: 20px;
  font-weight: bold;
}

.links a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.link-card {
  display: inline-table;
  margin: 15px;
  padding: 10px 20px;
  background: lightgray;
  color: black;
  border-radius: 8px;
  text-decoration: none;
} 
.link-card:hover {
  background: #ed6dc9ee;
}

.card ul {
  text-align: left;
  margin-top: 10px;
}

.card li {
  margin-bottom: 8px;
}


.proyectos {
  margin: 20px 0;
  text-align: center;
}

.proyectos a {
  display: block;
  margin: 10px 0;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.proyectos a:hover {
  color: #ed6dc9ee;
}
